<%inherit file="/base.html"/>

<%block name="content">
<div class="home-page" id="app">
    <div class="select">
        <i-form>
            <Form-item label="选择业务">
                <i-select v-model="bizModel" style="width:200px">
                    <i-option v-for="item in bk_biz_id" :value="item.bk_biz_id"
                              :key="item.bk_biz_name">{{ item.bk_biz_name }}</i-option>
                </i-select>
            </Form-item>
            <Form-item label="选择集群">
                <i-select v-model="setModel" style="width:200px">
                    <i-option v-for="item in sets" :value="item.bk_set_id"
                              :key="item.bk_set_name">{{ item.bk_set_name }}</i-option>
                </i-select>
            </Form-item>
            <i-button type="primary" @click="search_host" style="margin:0 40px">查询主机</i-button>
            <i-button type="success" @click="execute_job">执行作业</i-button>
        </i-form>
    </div>
    <div class="host_list">
        <Card style="width:1035px">
            <p slot="title">
                <Icon type="ios-film-outline"></Icon>
                主机列表
            </p>
            <i-table height="300" width="1000" :columns="columns" :data="real_hosts"></i-table>
        </Card>
    </div>
</div>
</%block>

<script>
    Vue.prototype.$http = axios;
    let vm = new Vue({
        el: "#app",
        data: {
            bk_biz_id: [],
            bizModel: '',
            sets: [],
            setModel: '',
            columns: [
                {
                    title: '内外IP',
                    key: 'bk_host_innerip'
                },
                {
                    title: '系统名',
                    key: 'bk_os_name'
                },
                {
                    title: '主机名',
                    key: 'bk_host_name'
                },
                {
                    title: '云区域',
                    key: 'bk_inst_name'
                }
            ],
            hosts: [],
            real_hosts: [],
            job_instance_id: 0
        },
        methods: {
            get_biz: function () {
                let self = this;
                let url = site_url + 'get_biz/';
                this.$http.get(url).then(response => {
                    self.bk_biz_id = response.data.data.info;
                }).catch(error => {
                    console.log(error)
                });
            },
            search_host: function () {
                let self = this;
                let url = '';
                let host_data = [];
                if (self.setModel) {
                    url = site_url + 'search_host/?bk_biz_id=' + self.bizModel + '&bk_set_id=' + self.setModel
                } else {
                    url = site_url + 'search_host/?bk_biz_id=' + self.bizModel
                }
                this.$http.get(url).then(response => {
                    self.hosts = response.data.data.info;
                }).catch(error => {
                        console.log(error)
                    }
                );
                for (let i = 0; i < self.hosts.length; i++) {
                    host_data.push(self.hosts[i].host)
                }
                self.real_hosts = host_data;
                for (let i = 0; i < self.real_hosts.length; i++) {
                    self.real_hosts[i].bk_inst_name = self.real_hosts[i].bk_cloud_id[0].bk_inst_name
                }
            },
            get_sets: function () {
                let self = this;
                let url = site_url + 'get_set/?bk_biz_id=' + this.bizModel;
                this.$http.get(url).then(response => {
                    self.sets = response.data.data.info;
                }).catch(error => {
                    console.log(error)
                });
            },
            execute_job: function () {
                let self = this;
                let url = site_url + 'execute_job/';
                let ip_list = [];
                for (let i = 0; i < self.real_hosts.length; i++) {
                    ip_list.push({
                        ip: self.real_hosts[i].bk_host_innerip,
                        bk_cloud_id: self.real_hosts[i].bk_cloud_id[0].id
                    })
                }
                params = {
                    bk_biz_id: self.bizModel,
                    ip_list: ip_list
                };
                this.$http.post(url, JSON.stringify(params)).then(response => {
                    if (response.data.result) {
                        alert("作业已执行");
                        self.job_instance_id = response.data.data.job_instance_id
                    } else {
                        alert("作业执行失败")
                    }
                }).catch(error => {
                    console.log(error)
                })
            }
        },
        created() {
            this.get_biz();
        },
        watch: {
            bizModel() {
                this.get_sets();
            }
        }

    })
</script>

<style>
    .select {
        margin-left: 35%;
        margin-top: 20px;
    }

    .host_list {
        margin-top: 50px;
        margin-left: 15%;
    }
</style>
