<%inherit file="/base.html"/>

<%block name="content">
<div class="performance" id="app">
    <i-form>
        <Form-item label="选择业务">
            <i-select v-model="bizModel" style="width:200px">
                <i-option v-for="item in bk_biz_id" :value="item.bk_biz_id"
                          :key="item.bk_biz_name">{{ item.bk_biz_name }}</i-option>
            </i-select>
        </Form-item>
        <i-input v-model="ip_list" placeholder="请输入IP" style="width: 250px"/>
    </i-form>
    <div id="performance" style="height:500px;border:1px solid"></div>
</div>
</%block>

<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>

<script>
    Vue.prototype.$http = axios;
    let vm = new Vue({
        el: "#app",
        data: {
            pfm_data: [],
            ip_list: '',
            bizModel: '',
            bk_biz_id: []
        },
        methods: {
            get_biz() {
                let self = this;
                let url = site_url + 'get_biz/';
                this.$http.get(url).then(response => {
                    self.bk_biz_id = response.data.data;
                }).catch(error => {
                    console.log(error)
                });
            },
            generate_graph() {
                let myChart = echarts.init(document.getElementById('performance'));
                this.pfm_data = this.pfm_data[0];
                let legendData = [];
                // 曲线名,mem,cpu,disk
                for (let i = 0; i < this.pfm_data.series.length; i++) {
                    legendData.push(this.pfm_data.series[i].name)
                }
                myChart.setOption({
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        y: 'bottom',
                        data: legendData
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['bar', 'line']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            // x坐标
                            data: this.pfm_data.xAxis
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            splitArea: {show: true}
                        }
                    ],
                    series: this.pfm_data.series
                });
            },
            display_performance() {
                let url = site_url + 'display_performance/';
                let params = {
                    bk_host_innerip__in: this.ip_list,
                    bk_biz_id: this.bizModel
                };
                this.$http.post(url, params).then(response => {
                    this.pfm_data = response.data.data;
                    this.generate_graph()
                }).catch(error => {
                        console.log(error)
                    }
                );
            }
        },
        mounted() {
            this.get_biz();
            this.display_performance()
        }
    })
</script>